<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>employees</key><array><dict><key>firstName</key><string>Bill</string><key>lastName</key><string>Gates</string></dict><dict><key>firstName</key><string>George</string><key>lastName</key><string>Bush</string></dict><dict><key>firstName</key><string>Thomas</string><key>lastName</key><string>Carter</string></dict></array></dict></plist>
